{{#section 'css'}}
    <style>
        .frmAvatar{
            text-align:center;
            border-right: 1px solid grey;
            margin-top: 20px;
            margin-bottom: 20px;
            min-height: 50vh;
        }

        #bg {
            background-color: #041B35;
            box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
            min-height: 60vh;
        }

        .emp-profile{
            border-top: 1px solid #EEEEEE;
            border-radius: 0.5rem;
            background: #fff;
        }
        .profile-img{
            margin-bottom: 10px;
            text-align: center;
        }
        .profile-img img{
            width: 200px;
            height: 200px;
        }
        .profile-head h5{
            color: #FD7519;
        }
        .profile-head h6{
            color: #0062cc;
        }
        .profile-head{
            color: #26FFB7;
            font-size: 18px;
        }
        .profile-edit-btn{
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }
        .proile-rating{
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }
        .proile-rating span{
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }
        .profile-head .nav-tabs{
            margin-bottom:5%;
        }
        .profile-head .nav-tabs .nav-link{
            font-weight:600;
            border: none;
        }
        .profile-head .nav-tabs .nav-link.active{
            border: none;
            border-bottom:2px solid #0062cc;
        }
        .profile-work{
            padding: 14%;
            margin-top: -15%;
        }
        .profile-work p{
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }
        .profile-work a{
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }
        .profile-work ul{
            list-style: none;
        }
        .profile-tab label{
            font-weight: 600;
        }
        .profile-tab p{
            font-weight: 600;
            color: #0062cc;
        }
        
        .frm {
            background-image: url("/public/img/bg_account.png");
            background-size: 100% 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media only screen and (max-width: 767.5px){
            #bg {
                background-color: #041B35;
            }

            .frm {
                background-image: none;
            }

            .frmAvatar {
                min-height:auto;
            }

            #temp {
                padding-bottom: 20px;
            }
        }
    </style>
{{/section}}

{{#section 'js'}}
{{/section}}
<div class="frm mt-5" style="min-height: 70vh">
        <div class="container" id="bg">
            <form method="post" class="">
                <div class="row">
                    <div class="col-md-4 frmAvatar">
                        <div class="profile-img">
                            {{#if authUser.Avatar}}
                                {{#isStudent authUser.LoaiTaiKhoan}}
                                    <img src="/public/img/students/{{user.Avatar}}" alt="" class="rounded-circle">
                                {{else}}
                                    <img src="/public/img/teachers/{{user.Avatar}}" alt="" class="rounded-circle">
                                {{/isStudent}}
                            {{else}}
                                <img src="/public/img/emptyAva.png" alt="/" class="rounded-circle">
                            {{/if}}
                            <h4 class="my-3" style="color:white">{{user.Name}}</h4>
                        </div>
                        {{#isStudent authUser.LoaiTaiKhoan}}
                        {{else}}
                            <div style="color:aliceblue;">
                               {{MoTa}}
                            </div>
                        {{/isStudent}}
                    </div>
                    <div class="col-md" id="temp">
                        <div class="profile-head">
                            <div class="my-3">
                                <h5>Personal Infomation</h5>
                                <div class="row">
                                    <div class="col-md-6 my-1"><i class="fa fa-user" aria-hidden="true"></i> Full Name: <font color="#C9DEEC">{{user.Name}}</font></div>
                                    <div class="col-md my-1"> <i class="fa fa-birthday-cake" aria-hidden="true"></i> <storng>Birthday: &nbsp;</storng><font color="#C9DEEC">{{user.DOB}}</font></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 my-1"><i class="fa fa-address-card" aria-hidden="true"></i> <storng>Address: &nbsp;</storng><font color="#C9DEEC">{{user.DiaChi}}</font></div>
                                </div>
                            </div>
                        </div>
                        <hr color="grey">
                        <div class="profile-head mt-3">
                            <div class="my-3">
                                <h5>Contact Infomation</h5>
                                <div class="mt-3"><i class="fa fa-envelope" aria-hidden="true"></i> Email: <font color="#C9DEEC">{{user.Email}} </font></div>
                                <div class="mt-1"><i class="fa fa-phone" aria-hidden="true"></i><storng> Phone Number: &nbsp;</storng><font color="#C9DEEC">{{user.SDT}}</font></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
</div>