{{#section 'css'}}
    <style>
        .accordion .fa {
            margin-right: 0.5rem;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 2px;
        }

        .owl-stage:first-child {
            margin-left: 15px;
        }
        .owl-carousel .nav-button {
            height: 50px;
            width: 25px;
            cursor: pointer;
            position: absolute;
            top: 110px !important;
            line-height: 50px;
            text-align: center;
        }
        .owl-carousel .owl-prev.disabled,
        .owl-carousel .owl-next.disabled {
            pointer-events: none;
            opacity: 0.25;
        }
        .owl-carousel .owl-prev {
            left: -5px;
        }
        .owl-carousel .owl-next {
            right: -35px;
        }
        .owl-theme .owl-nav [class*=owl-] {
            color: #ffffff;
            font-size: 39px;
            background: #000000;
            border-radius: 3px;
        }
        .owl-carousel .prev-carousel:hover {
            background-position: 0px -53px;
        }
        .owl-carousel .next-carousel:hover {
            background-position: -24px -53px;
        }

        .card--feedback {
            height: 280px;
        }

        .card__top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 15px;
        }

        .card__avatar,
        .card__avatar__teacher {
            margin-right: 15px;
        }

        .card__avatar img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        .card__avatar__teacher img {
            width: 184px;
            height: 184px;
            border-radius: 50%;
        }

        .card__name {
            margin-bottom: 0;
        }

        .card--feedback .card-body .card-text {
            color: #29303b;
            font-size: 15px;
            font-weight: normal;
        }
        a.disabled {
            color: gray;
            pointer-events: none;
            cursor: default;
        }

        #review-list .course-review,
        .list-course {
            display: none;
        }

        .modal-dialog {
            max-width: 800px;
            margin: 50px auto;
        }

        .modal-body {
            position:relative;
            padding:0px;
        }
        .close {
            position:absolute;
            right:-30px;
            top:0;
            z-index:999;
            font-size:2rem;
            font-weight: normal;
            color:#fff;
            opacity:1;
        }

    </style>
{{/section}}

{{#section 'js'}}
    <script>
        $(document).ready(function(){
            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function(){
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });

            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        });

        $('.owl-carousel').owlCarousel({
            margin: 15,
            nav: true,
            autoplay: true,
            loop: true,
            navText: ["<div class='nav-button owl-prev bg-color'>‹</div>", "<div class='nav-button owl-next bg-color'>›</div>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        });

        $('.disabled').click(function(e){
            e.preventDefault();
        });

        $(function () {
            if($(".course-review:hidden").length < 4) {
                $(".load-more").css('visibility', 'hidden');
            }
            $(".course-review").slice(0, 4).show();
            $("body").on('click touchstart', '.load-more', function (e) {
                e.preventDefault();
                $(".course-review:hidden").slice(0, 4).slideDown();
                if ($(".course-review:hidden").length === 0) {
                    $(".load-more").css('visibility', 'hidden');
                }
                $('html,body').animate({
                    scrollTop: $('.load-more').offset().top - 500
                }, 1000);
            });
        });

        // $(function () {
        //     if ($(".list-course:hidden").length <= 10) {
        //         $(".more-section").css('visibility', 'hidden');
        //
        //     }
        //     console.log($(".list-course:hidden").length)
        //
        //     $(".list-course").slice(0, 10).show();
        //     $(".more-section").text($(".list-course:hidden").length + " more section");
        //     $("body").on('click touchstart', '.more-section', function (e) {
        //         e.preventDefault();
        //         $(".list-course:hidden").slice(0, $(".list-course:hidden").length).slideDown();
        //         if ($(".list-course:hidden").length === 0) {
        //             $(".more-section").css('visibility', 'hidden');
        //         }
        //         $('html,body').animate({
        //             scrollTop: $('.more-section').offset().top - 500
        //         }, 1000);
        //     });
        // });

        $(function () {
            if ($(".list-course:hidden").length > 10) {
                $(".more-section").removeClass('d-none').addClass('d-inline-block');

            }
            console.log($(".list-course:hidden").length)

            $(".list-course").slice(0, 10).show();
            $(".more-section").text($(".list-course:hidden").length + " more sections");
            $("body").on('click touchstart', '.more-section', function (e) {
                e.preventDefault();
                $(".list-course:hidden").slice(0, $(".list-course:hidden").length).slideDown();
                if ($(".list-course:hidden").length === 0) {
                    $(".more-section").removeClass('d-inline-block').addClass('d-none');
                }
                // $('html,body').animate({
                //     scrollTop: $('.more-section').offset().top - 500
                // }, 1000);
            });
        });


        $(document).ready(function() {
            // Gets the video src from the data-src on each button
            var $videoSrc;
            $('.video-btn').click(function() {
                $videoSrc = $(this).data( "src" );
            });
            // when the modal is opened autoplay it
            $('#myModal').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
            })
            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src',$videoSrc);
            })
            // document ready
        });


    </script>
{{/section}}


<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body h-auto">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="m-0">
                            <i class="fa fa-users text-primary mr-2"></i>
                            {{this.course.Luotxem}} Students
                        </p>
                        <p class="m-0">
                            <i class="far fa-clock text-primary mr-2"></i>
                            {{this.course.SoLuongVideo}}
                        </p>
                    </div>
                    <h5 class="card-title">{{this.course.TenKhoaHoc}}</h5>
                    {{#if this.course.isFieldType}}
                        <p class="card-text">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            {{this.course.TenLinhVuc}}
                        </p>
                    {{else}}
                        <p class="card-text">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            {{this.course.TenLinhVuc}}
                        </p>
                    {{/if}}

                    <p class="card-text">{{this.course.Name}}</p>
                    <div class="d-flex align-content-center">
                        <span class="stars" data-rating="{{this.course.RateTB}}" data-num-stars="5" ></span>
                        <h5 class="text-primary font-weight-bolder ml-2">{{this.course.RateTB}}</h5>
                        <span class="">({{this.course.SLHocSinhDanhGia}} ratings)</span>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body h-auto">
                    <div>
                        {{#isStudent authUser.LoaiTaiKhoan}}
                            {{#if isCoursesRegister}}
                                <a class="btn btn-primary w-100 pt-3 pb-3" href="/mylearning/course?id={{this.course.MaKhoaHoc}}" role="button">Go to course</a>
                            {{else}}
                                <div class="mt-1">
                                    {{#if isNoDiscount}}
                                        <span class="align-self-center">${{format_number this.course.Gia}}</span>
                                    {{else}}
                                        <h2  style="text-decoration: line-through; font-weight: 10;"> ${{format_number this.course.Gia}}</h2>
                                        <h4>$ {{format_number this.course.finalPrice}}</h4>
                                        <h4> {{this.course.KhuyenMai}}% off</h4>
                                    {{/if}}
                                </div>
                                <a class="btn btn-dark w-100 pt-3 pb-3 mb-3" href="/course/addToWishList?MaKH={{this.course.MaKhoaHoc}}&MaTK={{authUser.MaTaiKhoan}}" role="button">Add to wish list</a>
                                <button class="btn btn-primary w-100 pt-3 pb-3"  data-toggle="modal" data-target="#buyModal">Buy now</button>
                            {{/if}}
                        {{else}}
                            <div class="mt-1">
                                {{#if isNoDiscount}}
                                    <span class="align-self-center">${{format_number this.course.Gia}}</span>
                                {{else}}
                                    <h2  style="text-decoration: line-through; font-weight: 10;"> ${{format_number this.course.Gia}}</h2>
                                    <h4>$ {{format_number this.course.finalPrice}}</h4>
                                    <h4> {{this.course.KhuyenMai}}% off</h4>
                                {{/if}}
                            </div>
                            {{#isTeacherAndAdmin authUser.LoaiTaiKhoan}}
                                <a class="btn btn-primary w-100 pt-3 pb-3" href="/mylearning/course?id={{this.course.MaKhoaHoc}}" role="button">Go to course</a>
                            {{else}}
                                <a class="btn btn-dark w-100 pt-3 pb-3 mb-3" href="/course/wishList" role="button">Add to wish list</a>
                                <a class="btn btn-primary w-100 pt-3 pb-3" href="/account/login" role="button">Buy now</a>
                            {{/isTeacherAndAdmin}}
                        {{/isStudent}}
                    </div>

                    <div class="mt-5">
                        <p class="font-weight-bold">This course includes:</p>
                        <div class="row mt-2">
                            <p class="col-sm-2">
                                <i class="far fa-clock  text-primary"></i>
                            </p>
                            <p class="col-sm-10">
                                11 hours on-demand video
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-spinner text-primary" aria-hidden="true"></i>
                            </p>
                            <p class="col-sm-10">
                                Effort: 2-5 hours per week
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-solid fa-graduation-cap  text-primary"></i>
                            </p>
                            <p class="col-sm-10">
                                Web development
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-mobile text-primary" aria-hidden="true"></i>
                            </p>
                            <p class="col-sm-10">
                                Access on mobile and TV
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-desktop text-primary" aria-hidden="true"></i>
                            </p>
                            <p class="col-sm-10">
                                Access on mobile and TV
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-refresh text-primary" aria-hidden="true"></i>
                            </p>
                            <p class="col-sm-10">
                                Always update course
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-regular fa-key  text-primary"></i>
                            </p>
                            <p class="col-sm-10">
                                Full lifetime access
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-2">
                                <i class="fa fa-certificate  text-primary"></i>
                            </p>
                            <p class="col-sm-10">
                                Certificate of Completion
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <img src="/public/img/courses/{{this.course.Image}}" class="img-fluid w-100 mt-0" alt="" style="border-radius: 8px">

            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="card-text text-primary">
                        Course Overview
                    </h5>
                </div>
                <div class="card-body h-auto">
                    <p class="card-title font-weight-bolder">
                        Short Course Description
                    </p>
                    <p class="card-text">
                        {{this.course.MoTaNgan}}
                    </p>

                    <p class="card-title font-weight-bolder">
                        Full Course Description
                    </p>

                    <p class="card-text">
                        {{this.course.MoTaChiTiet}}
                    </p>

                    <p class="card-title font-weight-bolder">
                        What you'll learn
                    </p>
                    <ul class="list-unstyled" style="column-count: 2">
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Become a UX designer.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            You will be able to add UX designer</li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Become a UI designer.</li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Build & test a full website design.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Build & test a full mobile app.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Learn to design websites & mobile phone apps.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            You'll learn how to choose colors.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Prototype your designs with interactions.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Export production ready assets.
                        </li>
                        <li class="h-auto">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            All the techniques used by UX professionals
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3 w-auto">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-text text-primary">
                        Course Content
                    </h5>
                    <p class="card-text">
                        Start Date: {{this.course.NgayBD}}
                    </p>
                </div>
                <div class="card-body h-auto">
                    {{#if this.isVideoListEmpty}}

                    {{else}}
                        <div id="accordion">
                            {{#each this.courseVideoList}}
                                <div class="card rounded-0 list-course">
                                    <div class="card-header" style="cursor: pointer">
                                        <h5 class="mb-0">
                                            <div href="#collapse{{STT}}" class="text-primary" data-toggle="collapse" data-parent="#accordion">
                                                <i class="fa fa-angle-down mr-3"></i>
                                                Video {{STT}}
                                            </div>
                                        </h5>
                                    </div>
                                    {{#if isShowVideo}}
                                        <div id="collapse{{STT}}" class="collapse show">
                                            <div class="card-body h-auto">
                                                <a href="" class="video-btn" data-toggle="modal" data-src="{{Link}}" data-target="#myModal">
                                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                    <span>video</span>
                                                </a>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div id="collapse{{STT}}" class="collapse">
                                            <div class="card-body h-auto">
                                                <span href="{{Link}}" class="disabled">
                                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                    <span>video</span>
                                                </span>
                                            </div>
                                        </div>
                                    {{/if}}

                                </div>
                            {{/each}}
                        </div>
                        <button type="button" class="btn btn-outline-primary more-section  w-100 mt-3 d-none">More-section</button>
                    {{/if}}
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="" id="video"
                                            allowscriptaccess="always"
                                            allow="autoplay"
                                            allowfullscreen="allowfullscreen"
                                            mozallowfullscreen="mozallowfullscreen"
                                            msallowfullscreen="msallowfullscreen"
                                            oallowfullscreen="oallowfullscreen"
                                            webkitallowfullscreen="webkitallowfullscreen">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="mb-3 text-primary">Instructor</h5>
                </div>
                <div class="card-body h-auto">
                    <h5 class="card__name mb-3"><a href="" class="text-info">{{this.course.Name}}</a></h5>
                    <div class="card__top">
                        <div class="card__avatar__teacher">
                            <img src="/public/img/teachers/{{this.course.Avatar}}" alt="{{this.course.Username}}">
                        </div>
                        <div class="ml-3">
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fa fa-envelope text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.course.Email}}</span>
                            </p>
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fa fa-birthday-cake text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.course.DOB}}</span>
                            </p>
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fa fa-star text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.inforStudentsOfTeacher.ratings}} Instructor Rating</span>
                            </p>
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fas fa-trophy text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.inforStudentsOfTeacher.amountReview}} Reviews</span>
                            </p>
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fa fa-user-plus text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.inforStudentsOfTeacher.amountStudents}} Students</span>
                            </p>
                            <p class="mb-2 row">
                                <i class="col-2 mr-2 fa fa-play-circle text-primary" aria-hidden="true"></i>
                                <span col="10">{{this.inforStudentsOfTeacher.amountCourses}} Courses</span>
                            </p>
                        </div>
                    </div>
                    <p class="card-text">
                        I had a couple of months of experience trading
                        without consistent
                        results. After taking this
                        course I'm pretty confident that I'll be a
                        better trader and know better when to enter a
                        trade, how to put my stop
                        loss and take profit, how many lots to trade and
                        much more.
                    </p>
                </div>
            </div>

            <div class="card mt-3">
                <!-- Top 5 most view course End -->
                <div class="card-header">
                    <h5 class="mb-3 text-primary"> Top 5 other courses in the same field are bought the most</h5>
                </div>
                <div class="card-body h-auto">
                    <div class="row owl-carousel owl-theme">
                        {{#each this.top5CousresMostView}}
                            <div class="col-md-6 mb-3 mw-100">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail?id={{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="card__stars">
                                        <span>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star-half text-primary"></i>
                                        </span>
                                                <span class="text-primary">{{RateTB}}</span>
                                                <small class="font-weight-bolder">({{SLHocSinhDanhGia}})</small>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="text-primary">What our students have to say</h5>
                </div>
                <div class="card-body h-auto">
                    <div class="w-100">
                        <div class="row" id="review-list">
                            {{#each this.studentReviewList}}
                                <div class="col-md-6 mb-3 mw-100 course-review">
                                    <div class="card card--feedback h-100">
                                        <div class="card-body h-auto">
                                            <div class="card__top">
                                                <div class="card__avatar">
                                                    <img src="/public/img/team-1.jpg" alt="student 1">
                                                </div>
                                                <div>
                                                    <p class="card__name">{{Name}}</p>
                                                    <div class="card__stars">
                                                        <span class="stars" data-rating="{{Rate}}" data-num-stars="5" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-text">{{Comment}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-outline-primary load-more" style="margin-left: 16px;">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

            <div class="modal-footer">
                <form method="post" action="" class="delete-review">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="subBtn" value="save">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

