
{{#if this.isNull}}
    <div class="card bg-dark text-white">
    <img class="card-img" src="../public/img/notfound/notfound.jpg" alt="Card image">
    <div class="card-img-overlay">
        <div id="notfound">
            <div class="notfound"><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="notfound-404">
                    <h1><span></span></h1>
                </div>
                <p>Chân thành xin lỗi quý khách, chúng tôi không tìm thấy sản phẩm tương ứng </p>
                <a href="#">Back to homepage</a>
            </div>
        </div>
    </div>
    </div>
{{else}}
    <div class="row">
        {{#each this.courses}}
            <div class="col-lg-4 mb-3">
                <div class="form_course">
                    <div class="card h-100">
                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-2">
                                <small class="m-0">
                                    <i class="fa fa-users text-primary mr-2"></i>
                                    {{LuotXem}} Students
                                </small>
                                <small class="m-0">
                                    <i class="far fa-clock text-primary mr-2"></i>
                                    {{SoLuongVideo}}
                                </small>
                            </div>
                            <a class="card-title text-log h5" href="">{{TenKhoaHoc}}</a>
                            {{#if isFieldType}}
                                <p class="card-text">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    {{TenLinhVuc}}
                                </p>
                            {{else}}
                                <p class="card-text">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    {{TenLinhVuc}}
                                </p>
                            {{/if}}
                            <p class="card-text">{{Username}}</p>
                            <div class="card__stars">
                                <span>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star-half text-primary"></i>
                                </span>
                                <span class="text-primary">{{RateTB}}</span>
                                <small class="font-weight-bolder">({{SLHocSinhDanhGia}})</small>
                            </div>
                        </div>
                        <div class="border-top card-footer d-flex">
                            <div class="card__price h5 ">
                                {{#if isNoDiscount}}
                                    <span class="align-self-center">${{format_number Gia}}</span>
                                {{else}}
                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

{{/if}}

