<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="public/img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                        <h1 class="display-3 text-white mb-md-4">Best Education From Your Home</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="public/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                        <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="public/img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                        <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Top course last week Start -->
<div class="container-fluid py-5">
    <div class="text-left mb-4">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Top 3</h5>
        <h1>Top course last week</h1>
    </div>
    <div id="carouselTopCourseLastWeek" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTopCourseLastWeek" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid py-5">
                    <div class="row">
                        {{#each this.listTop3CourseLastWeek}}
                            <div class="col-lg-4 mb-3">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="d-flex align-content-center">
                                                <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselTopCourseLastWeek" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTopCourseLastWeek" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Top course last week End -->

<!-- Top 10 most view course Start -->
<div class="container-fluid py-5">
    <div class="text-left mb-4">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Top 10</h5>
        <h1>Top most view course</h1>
    </div>
    <div id="carouselTop10MostViewCourse" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTop10MostViewCourse" data-slide-to="0" class="active"></li>
            {{#for 2 this.numPage 1}}
                <li data-target="#carouselTop10MostViewCourse" data-slide-to="1"></li>
            {{/for }}
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {{#each this.listTop10CourseView1}}
                        {{#if isExist}}
                            <div class="col-lg-4 mb-3">
                            <div class="form_course">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-2">
                                            <small class="m-0">
                                                <i class="fa fa-users text-primary mr-2"></i>
                                                {{LuotXem}} Students
                                            </small>
                                            <small class="m-0">
                                                <i class="far fa-clock text-primary mr-2"></i>
                                                {{SoLuongVideo}}
                                            </small>
                                        </div>
                                        <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                        {{#if isFieldType}}
                                            <p class="card-text">
                                                <i class="fa fa-globe" aria-hidden="true"></i>
                                                {{TenLinhVuc}}
                                            </p>
                                        {{else}}
                                            <p class="card-text">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                                {{TenLinhVuc}}
                                            </p>
                                        {{/if}}
                                        <p class="card-text">{{Username}}</p>
                                        <div class="card__stars">
                                        <span>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star text-primary"></i>
                                            <i class="fa fa-star-half text-primary"></i>
                                        </span>
                                            <span class="text-primary">{{RateTB}}</span>
                                            <small class="font-weight-bolder">({{SLHocSinhDanhGia}})</small>
                                        </div>
                                    </div>
                                    <div class="border-top card-footer d-flex">
                                        <div class="card__price h5 ">
                                            {{#if isNoDiscount}}
                                                <span class="align-self-center">${{format_number Gia}}</span>
                                            {{else}}
                                                <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                <span class="align-self-center">${{format_number finalPrice}}</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{#ifGreaterThan numPage 2}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10CourseView2}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="d-flex align-content-center">
                                                <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
            {{#ifGreaterThan numPage 3}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10CourseView3}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="d-flex align-content-center">
                                                <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
            {{#ifGreaterThan numPage 4}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10CourseView4}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="d-flex align-content-center">
                                                <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
        </div>
        <a class="carousel-control-prev" href="#carouselTop10MostViewCourse" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTop10MostViewCourse" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Top 10 most view course End -->

<!-- Top 10 lasted course Start -->
<div class="container-fluid py-5">
    <div class="text-left mb-4">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Top 10</h5>
        <h1>Top lasted course</h1>
    </div>
    <div id="carouselTop10LastedCourse" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTop10LastedCourse" data-slide-to="0" class="active"></li>
            {{#for 2 this.numPage 1}}
                <li data-target="#carouselTop10LastedCourse" data-slide-to="1"></li>
            {{/for }}
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {{#each this.listTop10LastedCourse1}}
                        {{#if isExist}}
                            <div class="col-lg-4 mb-3">
                                <div class="form_course">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-2">
                                                <small class="m-0">
                                                    <i class="fa fa-users text-primary mr-2"></i>
                                                    {{LuotXem}} Students
                                                </small>
                                                <small class="m-0">
                                                    <i class="far fa-clock text-primary mr-2"></i>
                                                    {{SoLuongVideo}}
                                                </small>
                                            </div>
                                            <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                            {{#if isFieldType}}
                                                <p class="card-text">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{else}}
                                                <p class="card-text">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{TenLinhVuc}}
                                                </p>
                                            {{/if}}
                                            <p class="card-text">{{Username}}</p>
                                            <div class="d-flex align-content-center">
                                                <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                            </div>
                                        </div>
                                        <div class="border-top card-footer d-flex">
                                            <div class="card__price h5 ">
                                                {{#if isNoDiscount}}
                                                    <span class="align-self-center">${{format_number Gia}}</span>
                                                {{else}}
                                                    <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                    <span class="align-self-center">${{format_number finalPrice}}</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{#ifGreaterThan numPage 2}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10LastedCourse2}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                    <div class="form_course">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <small class="m-0">
                                                        <i class="fa fa-users text-primary mr-2"></i>
                                                        {{LuotXem}} Students
                                                    </small>
                                                    <small class="m-0">
                                                        <i class="far fa-clock text-primary mr-2"></i>
                                                        {{SoLuongVideo}}
                                                    </small>
                                                </div>
                                                <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                                {{#if isFieldType}}
                                                    <p class="card-text">
                                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{else}}
                                                    <p class="card-text">
                                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{/if}}
                                                <p class="card-text">{{Username}}</p>
                                                <div class="d-flex align-content-center">
                                                    <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                    <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                    <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                                </div>
                                            </div>
                                            <div class="border-top card-footer d-flex">
                                                <div class="card__price h5 ">
                                                    {{#if isNoDiscount}}
                                                        <span class="align-self-center">${{format_number Gia}}</span>
                                                    {{else}}
                                                        <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                        <span class="align-self-center">${{format_number finalPrice}}</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
            {{#ifGreaterThan numPage 3}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10LastedCourse3}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                    <div class="form_course">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <small class="m-0">
                                                        <i class="fa fa-users text-primary mr-2"></i>
                                                        {{LuotXem}} Students
                                                    </small>
                                                    <small class="m-0">
                                                        <i class="far fa-clock text-primary mr-2"></i>
                                                        {{SoLuongVideo}}
                                                    </small>
                                                </div>
                                                <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                                {{#if isFieldType}}
                                                    <p class="card-text">
                                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{else}}
                                                    <p class="card-text">
                                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{/if}}
                                                <p class="card-text">{{Username}}</p>
                                                <div class="d-flex align-content-center">
                                                    <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                    <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                    <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                                </div>
                                            </div>
                                            <div class="border-top card-footer d-flex">
                                                <div class="card__price h5 ">
                                                    {{#if isNoDiscount}}
                                                        <span class="align-self-center">${{format_number Gia}}</span>
                                                    {{else}}
                                                        <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                        <span class="align-self-center">${{format_number finalPrice}}</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
            {{#ifGreaterThan numPage 4}}
                <div class="carousel-item">
                    <div class="row">
                        {{#each this.listTop10LastedCourse4}}
                            {{#if isExist}}
                                <div class="col-lg-4 mb-3">
                                    <div class="form_course">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="/public/img/courses/{{MaKhoaHoc}}.jpg" alt="">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <small class="m-0">
                                                        <i class="fa fa-users text-primary mr-2"></i>
                                                        {{LuotXem}} Students
                                                    </small>
                                                    <small class="m-0">
                                                        <i class="far fa-clock text-primary mr-2"></i>
                                                        {{SoLuongVideo}}
                                                    </small>
                                                </div>
                                                <a class="card-title text-log h5" href="/course/detail/{{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                                {{#if isFieldType}}
                                                    <p class="card-text">
                                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{else}}
                                                    <p class="card-text">
                                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                                        {{TenLinhVuc}}
                                                    </p>
                                                {{/if}}
                                                <p class="card-text">{{Username}}</p>
                                                <div class="d-flex align-content-center">
                                                    <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                                    <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                                    <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                                </div>
                                            </div>
                                            <div class="border-top card-footer d-flex">
                                                <div class="card__price h5 ">
                                                    {{#if isNoDiscount}}
                                                        <span class="align-self-center">${{format_number Gia}}</span>
                                                    {{else}}
                                                        <span style="text-decoration: line-through; font-weight: 10;" class="align-self-center">${{format_number Gia}}</span>
                                                        <span class="align-self-center">${{format_number finalPrice}}</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/ifGreaterThan}}
        </div>
        <a class="carousel-control-prev" href="#carouselTop10LastedCourse" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTop10LastedCourse" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Top 10 lasted course End -->

<!-- Top Fields last week Start -->
<div class="container-fluid py-5">
    <div class="text-left mb-4">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Top 1</h5>
        <h1>Top Fields last week</h1>
    </div>
    {{#each this.fields}}
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                <img class="img-fluid" src="/public/img/cat-{{MaLinhVuc}}.jpg" alt="">
                <a class="cat-overlay text-white text-decoration-none" href="/categories/{{MaLinhVuc}}">
                    <h4 class="text-white font-weight-medium">{{TenLinhVuc}}</h4>
                    <span>{{SLKhoaHoc}} Courses</span>
                </a>
            </div>
        </div>
    {{/each}}
</div>
<!-- Top Fields last week End -->

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="public/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                    <h1>Innovative Way To Learn</h1>
                </div>
                <p>Aliquyam accusam clita nonumy ipsum sit sea clita ipsum clita, ipsum dolores amet voluptua duo dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus gubergren sit rebum clita amet, sea est sea vero sed et. Sadipscing labore tempor at sit dolor clita consetetur diam. Diam ut diam tempor no et, lorem dolore invidunt no nonumy stet ea labore, dolor justo et sit gubergren diam sed sed no ipsum. Sit tempor ut nonumy elitr dolores justo aliquyam ipsum stet</p>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
            <h1>Explore Top Subjects</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Web Design</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-2.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Development</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-3.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Game Design</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-4.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Apps Design</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-5.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Marketing</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-6.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Research</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-7.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Content Writing</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/cat-8.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">SEO</h4>
                        <span>100 Courses</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category Start -->


<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
            <h1>Our Popular Courses</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-1.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-2.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-3.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-4.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-5.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="public/img/course-6.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                            <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                        </div>
                        <a class="h5" href="">Web design & development courses for beginner</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h5 class="m-0">$99</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->


<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                    <h1 class="text-white">30% Off For New Students</h1>
                </div>
                <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Sign Up Now</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Your email" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>Select a course</option>
                                    <option value="1">Course 1</option>
                                    <option value="2">Course 1</option>
                                    <option value="3">Course 1</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
            <h1>Meet Our Teachers</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="public/img/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="public/img/team-2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="public/img/team-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="public/img/team-4.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
            <h1>What Say Our Students</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="public/img/testimonial-1.jpg" alt="">
                        <h5 class="m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="public/img/testimonial-2.jpg" alt="">
                        <h5 class="m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="public/img/testimonial-3.jpg" alt="">
                        <h5 class="m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Our Blog</h5>
            <h1>Latest From Our Blog</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/blog-1.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" href="">
                        <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                        <p class="text-primary m-0">Jan 01, 2050</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/blog-2.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" href="">
                        <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                        <p class="text-primary m-0">Jan 01, 2050</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="public/img/blog-3.jpg" alt="">
                    <a class="blog-overlay text-decoration-none" href="">
                        <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                        <p class="text-primary m-0">Jan 01, 2050</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->