{{#section 'css'}}
    <style>
        #navbar, #topbar {
            display: none !important;
        }

        .mylearning-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            line-height: 46px;
            background-color: #1c1d1f;
        }

        .course-name {
            color: #fff;
            border-left: 1px solid #3e4143;
        }

        .accordion .fa {
            margin-right: 0.5rem;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 2px;
        }

        .owl-stage:first-child {
            margin-left: 15px;
        }
        .owl-carousel .nav-button {
            height: 50px;
            width: 25px;
            cursor: pointer;
            position: absolute;
            top: 110px !important;
            line-height: 50px;
            text-align: center;
        }
        .owl-carousel .owl-prev.disabled,
        .owl-carousel .owl-next.disabled {
            pointer-events: none;
            opacity: 0.25;
        }
        .owl-carousel .owl-prev {
            left: -5px;
        }
        .owl-carousel .owl-next {
            right: -35px;
        }
        .owl-theme .owl-nav [class*=owl-] {
            color: #ffffff;
            font-size: 39px;
            background: #000000;
            border-radius: 3px;
        }
        .owl-carousel .prev-carousel:hover {
            background-position: 0px -53px;
        }
        .owl-carousel .next-carousel:hover {
            background-position: -24px -53px;
        }

        .card--feedback {
            height: 280px;
        }

        .card__top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .teacher__infor {
            width: 100%;
        }
        .card__avatar,
        .card__avatar__teacher {
            margin-right: 15px;
        }

        .card__avatar img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        .card__avatar__teacher img {
            width: 184px;
            height: 184px;
            border-radius: 50%;
        }

        .card__name {
            margin-bottom: 0;
        }

        .card--feedback .card-body .card-text {
            color: #29303b;
            font-size: 15px;
            font-weight: normal;
        }

        #review-list .course-review,
        .list-course {
            display: none;
        }

        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            /*height: 85vh;*/
        }

        .sidebarMini {
            display: none;
            width: 400px;
            position: absolute;
            top: 25%;
            right: 0;
            background-color: #dedfe0;
            z-index: 5;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .sidebarMini .sidebarMini__button {
            color: #fff;
            background-color: #1c1d1f;
            border: 1px solid #6a6f73;
            /*font-size: 24px;*/
            font-weight: normal;
            padding: 10px 15px;
            cursor: pointer;
            /*position: fixed;*/
            -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .sidebarMini .sidebarMini__content {
            width: 150px;
            padding: 12px;
            text-align: center;
            font-size: 20px;

        }

        .sidebarMini .sidebarMini__content .switch input {
            display: none;
        }

        .sidebarMini .sidebarMini__content .switch input:checked + .slider::before {
            -webkit-transform: translateX(22px);
            transform: translateX(22px);
        }

        .sidebarMini .sidebarMini__content .switch .slider {
            background-color: #ccc;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 34px;
        }

        .sidebarMini .sidebarMini__content .switch .slider::before {
            content: '';
            width: 18px;
            height: 18px;
            background-color: #ffffff;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            bottom: 4px;
            left: 4px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .sidebarMini:hover {
            background-color: #393b3f;
            -webkit-transform: translateX(60%);
            transform: translateX(60%);
        }

        .progress {
            margin-bottom: 15px;
        }

        .progress-bar {
            width: 0;
        }

        .trigger{
            text-align: right;
            outline: none;
            border: none;

        }

        .modal-review {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }

        .modal-review .modal-review-content {
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 1rem 0;
            width: auto;
        }

        .close-review-button {
            align-self: end;
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            margin-right: 20px;
        }
        .close-button:hover {
            background-color: darkgray;
        }
        .show-modal-review {
            opacity: 1;
            visibility: visible;
            transform: scale(1.0);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
        .container-review{
            position: relative;
            width: 600px;
            padding: 20px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .container-review .post{
            display: none;
        }
        .container-review .text{
            font-size: 25px;
            color: #666;
            font-weight: 500;
        }

        .container-review .star-widget input{
            display: none;
        }
        .star-widget label{
            font-size: 40px;
            color: #fd4;
            padding: 10px;
            float: right;
            transition: all 0.2s ease;
        }
        input:not(:checked) ~ label:hover,
        input:not(:checked) ~ label:hover ~ label{
            color: #fd4;
            font-weight: 700;
        }
        input:checked ~ label{
            color: #fd4;
            font-weight: 700;
        }
        input#rate-5:checked ~ label{
            color: #fe7;
            text-shadow: 0 0 20px #952;
        }
        #rate-1:checked ~ .des-input header:before{
            content: "I just hate it 😠";
        }
        #rate-2:checked ~ .des-input header:before{
            content: "I don't like it 😒";
        }
        #rate-3:checked ~ .des-input header:before{
            content: "It is awesome 😄";
        }
        #rate-4:checked ~ .des-input header:before{
            content: "I just like it 😎";
        }
        #rate-5:checked ~ .des-input header:before{
            content: "I just love it 😍";
        }
        .container-review form{
            display: none;
        }
        input:checked ~ form{
            display: block;
        }
        form header{
            width: 100%;
            font-size: 25px;
            color: #fe7;
            font-weight: 500;
            margin: 5px 0 20px 0;
            /*text-align: center;*/
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form .textarea{
            width: 100%;
            overflow: hidden;
        }
        form .textarea textarea{
            height: 100%;
            width: 100%;
            outline: none;
            color: #000;
            border: 1px solid #333;
            /*background: #222;*/
            padding: 10px;
            font-size: 17px;
            resize: none;
        }
        .textarea textarea:focus{
            border-color: #444;
        }
        form .btn-review{
            /*height: 45px;*/
            width: 100%;
            margin-top: 30px;
            margin-bottom: -20px;
            text-align: right;
        }

        .des-input .btn-review .btn-review-next,
        .container-review .btn-review-back,
        .container-review .btn-submit-save,
        .container-review .btn-review-delete,
        .container-review .btn-review-edit,
        .container-review .btn-review-cancel,
        .container-review .btn-submit-delete{
            border: 1px solid #444;
            outline: none;
            background: #222;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 10px 20px;
        }

        .container-review .btn-review-delete,
        .container-review .btn-review-cancel{
            background-color: transparent;
            color: #000;
            border: none;
            font-weight: 700;
        }

        .des-input .btn-review btn-review-next:hover,
        .container-review .btn-review-back:hover,
        .container-review .btn-submit-save:hover,
        .container-review .btn-review-edit:hover,
        .container-review .btn-submit-delete:hover{
            background-color: #1b1b1b;
        }

        .has-reviewed {
            /*display: block;*/
            align-items: flex-start;
            padding: 0 30px;
        }
        .review-title {
            text-align: left;
            width: 100%;
        }
        .btn-has-reviewed {
            width: 100%;
            margin-top: 30px;
            text-align: right;
        }

        .edit-review,
        .delete-review {
            display: none;
        }

        .nav-course-content {
            display: none !important;
        }

        .video-content-section {
            display: none;
        }
        /* Mobile: width < 740 px*/
        @media only screen and (max-width: 46.1875em){
            .col-header-1, col-header-3 {
                display: none;
            }

            .card__top {
                flex-direction: column;
                align-items: center;
            }

            .teacher__infor {
                margin-top: 6px;
            }
            .nav-course-content {
                display: block;
            }
            .video-content-section {
                display: block;
            }
        }
        /* Tablet: width >= 740px and width < 1024px */
        @media (max-width: 63.9375em) and (min-width:   46.25em) {
            .col-header-1, col-header-3 {
                display: none;
            }
            .mylearning-header{
                display: block;
            }

        }

    </style>
{{/section}}

{{#section 'js'}}
    <script>
        $(document).ready(function(){
            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function(){
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });

            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function(){
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        });

        $('.owl-carousel').owlCarousel({
            margin: 15,
            nav: true,
            autoplay: true,
            loop: true,
            navText: ["<div class='nav-button owl-prev bg-color'>‹</div>", "<div class='nav-button owl-next bg-color'>›</div>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        });

        $('.disabled').click(function(e){
            e.preventDefault();
        });

        $(function () {
            if($(".course-review:hidden").length < 4) {
                $(".load-more").css('visibility', 'hidden');
            }

            $(".course-review").slice(0, 4).show();
            $("body").on('click touchstart', '.load-more', function (e) {
                e.preventDefault();
                $(".course-review:hidden").slice(0, 4).slideDown();
                if ($(".course-review:hidden").length === 0) {
                    $(".load-more").css('visibility', 'hidden');
                }
                $('html,body').animate({
                    scrollTop: $('.load-more').offset().top - 500
                }, 1000);
            });
        });

        $(function () {

            if ($(".list-course:hidden").length > 10) {
                $(".more-section").removeClass('d-none').addClass('d-inline-block');

            }

            $(".list-course").slice(0, 10).show();
            $(".more-section").text($(".list-course:hidden").length + " more sections");
            $("body").on('click touchstart', '.more-section', function (e) {
                e.preventDefault();
                $(".list-course:hidden").slice(0, $(".list-course:hidden").length).slideDown();
                if ($(".list-course:hidden").length === 0) {
                    $(".more-section").removeClass('d-inline-block').addClass('d-none');
                }
                // $('html,body').animate({
                //     scrollTop: $('.more-section').offset().top - 500
                // }, 1000);
            });
        });


        $( "#close-icon" ).click(function() {
            $( "#courseDiv" ).css('display', 'none')
            $( ".sidebarMini" ).css('display', 'block')
            $( "#videoDiv" ).removeClass('col-md-9').addClass('col-12');
            $( "#video-container" ).addClass('col-12')
        });

        $( ".sidebarMini__button" ).click(function() {
            $( ".sidebarMini" ).css('display', 'none')
            $( "#courseDiv" ).css('display', 'block')
            $( "#videoDiv" ).removeClass('col-12').addClass('col-md-9');
        });

        $( "#navlink-reviews" ).click(function() {
            var delay = 1000;
            $(".progress-bar").each(function(i){
                $(this).delay( delay*i ).animate( { width: $(this).attr('aria-valuenow') + '%' }, delay );

                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: delay,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now)+'%');
                    }
                });
            });
        });

        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }

        var modal = document.querySelector(".modal-review");
        var trigger = document.querySelector(".trigger");
        var closeButton = document.querySelector(".close-review-button");

        const editReview = document.querySelector(".edit-review");
        const deleteReview = document.querySelector(".delete-review");
        const reviewed = document.querySelector(".has-reviewed");
        const title = document.querySelector(".review-title")

        function toggleModal() {
            modal.classList.toggle("show-modal-review");
            reviewed.style.display = "block";
            editReview.style.display = "none";
            deleteReview.style.display = "none";
            title.style.display = "block";
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);

        const nextBtn = document.querySelector(".btn-review-next");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const backBtn = document.querySelector(".btn-review-back");
        const saveBtn = document.querySelector(".btn-submit-save");
        nextBtn.onclick = ()=>{
            widget.style.display = "none";
            post.style.display = "block";
            title.style.display = "none";
            backBtn.onclick = ()=>{
                title.style.display = "block";
                widget.style.display = "block";
                post.style.display = "none";
            }
            saveBtn.onclick = ()=>{
                modal.style.display = "none";
            }
            return false;
        }


        const editBtn = document.querySelector(".btn-review-edit");
        const deleteBtn = document.querySelector(".btn-review-delete")
        const deleteSubmitBtn = document.querySelector(".btn-submit-delete");
        const editTitle = document.querySelector(".edit-review-title")
        const deleteTitle = document.querySelector(".delete-review-title")
        const cancelBtn = document.querySelector(".btn-review-cancel");


        editBtn.onclick = () => {
            editReview.style.display = "block";
            deleteReview.style.display = "none";
            reviewed.style.display = "none";
            nextBtn.onclick = ()=>{
                widget.style.display = "none";
                post.style.display = "block";
                editTitle.style.display = "none";
                backBtn.onclick = ()=>{
                    editTitle.style.display = "block";
                    widget.style.display = "block";
                    post.style.display = "none";
                }
                saveBtn.onclick = ()=>{
                    modal.style.display = "none";
                }
                return false;
            }
        }

        deleteBtn.onclick = () => {
            deleteReview.style.display = "block";
            reviewed.style.display = "none";

            cancelBtn.onclick = ()=>{
                reviewed.style.display = "block";
                deleteReview.style.display = "none";
            }

            deleteSubmitBtn.onclick = () => {
                modal.style.display = "none";
            }
        }
    </script>
{{/section}}
<div class="container-fluid d-lg-block">
    <div class="row align-items-center px-3 mylearning-header">
        <div class="col-header-1 col-lg-2">
            <a href="/" class="text-decoration-none">
                <h1 class="m-0"><span class="text-primary">E</span>COURSES</h1>
            </a>
        </div>

        <div class="col-header-1 col-lg-6 course-name d-flex align-items-center">
            <a href="/">
                {{this.course.TenKhoaHoc}}
            </a>
        </div>
        {{#if checkCanRating}}
            <div class="col-header-1 col-lg-4 text-right">
                {{#if this.checkStudentReview}}
                    <a class="trigger text-primary" href="#">
                        <i class="far fa-star text-primary mr-1" aria-hidden="true"></i>
                        Leave a rating
                    </a>
                {{else}}
                    <a class="trigger text-primary" href="#">
                        <i class="far fa-star text-primary mr-1" aria-hidden="true"></i>
                        Edit your rating
                    </a>
                {{/if}}
            </div>
        {{else}}

        {{/if}}
    </div>
</div>


<div class="container-fluid" style="margin-top: 46px">
    <div class="row">
        <div class="col-md-9" id="videoDiv">
            <div class="video-container">
                <iframe id="show" name="myFrame" src="{{this.firstVideo}}" allowfullscreen ></iframe>
            </div>
            <ul class="nav nav-tabs " role="tablist">
                <li class="nav-item nav-course-content">
                    <a class="nav-link rounded-0" data-toggle="tab" href="#course-content" role="tab">Course content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-0" data-toggle="tab" href="#home" role="tab">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-0" data-toggle="tab" href="#overview" role="tab">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-0" data-toggle="tab" href="#inforTeacher" role="tab">Information Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-0" id="navlink-reviews" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="course-content" role="tabpanel">
                    <div class="mt-3 container">
                        <div class="h-auto video-content-section">
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home" role="tabpanel">
                    <div class="container mt-3">
                        <div class="card-body h-auto">
                            <div class="d-flex justify-content-between mb-2">
                                <p class="m-0">
                                    <i class="fa fa-users text-primary mr-2"></i>
                                    {{this.course.Luotxem}} Students
                                </p>
                                <p class="m-0">
                                    <i class="far fa-clock text-primary mr-2"></i>
                                    {{this.course.SoLuongVideo}}
                                </p>
                            </div>
                            <h5 class="card-title">{{this.course.TenKhoaHoc}}</h5>
                            {{#if this.course.isFieldType}}
                                <p class="card-text">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    {{this.course.TenLinhVuc}}
                                </p>
                            {{else}}
                                <p class="card-text">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    {{this.course.TenLinhVuc}}
                                </p>
                            {{/if}}

                            <p class="card-text">{{this.course.Name}}</p>
                            <div class="d-flex align-content-center">
                                <span class="stars" data-rating="{{this.course.RateTB}}" data-num-stars="5" ></span>
                                <h5 class="text-primary font-weight-bolder ml-2">{{this.course.RateTB}}</h5>
                                <span class="">({{this.course.SLHocSinhDanhGia}} ratings)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="overview" role="tabpanel">
                    <div class="mt-3 container">
                        <div class="card-body h-auto">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="inforTeacher" role="tabpanel">
                    <div class="container mt-3">
                        <div class="card-body h-auto">
                            <h5 class="mb-3 text-primary">Instructor</h5>

                            <h5 class="card__name mb-3"><a href="" class="text-info">{{this.course.Name}}</a></h5>
                            <div class="card__top">
                                <div class="card__avatar__teacher">
                                    <img src="/public/img/teachers/{{this.course.Avatar}}" alt="{{this.course.Username}}">
                                </div>
                                <div class="ml-3 teacher__infor">
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fa fa-envelope text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.course.Email}}</span>
                                    </p>
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fa fa-birthday-cake text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.course.DOB}}</span>
                                    </p>
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fa fa-star text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.inforStudentsOfTeacher.ratings}} Instructor Rating</span>
                                    </p>
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fas fa-trophy text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.inforStudentsOfTeacher.amountReview}} Reviews</span>
                                    </p>
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fa fa-user-plus text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.inforStudentsOfTeacher.amountStudents}} Students</span>
                                    </p>
                                    <p class="mb-2 row align-items-center">
                                        <i class="col-1 fa fa-play-circle text-primary" style="line-height: 1.5; font-size: 1rem" aria-hidden="true"></i>
                                        <span class="col-10">{{this.inforStudentsOfTeacher.amountCourses}} Courses</span>
                                    </p>
                                </div>
                            </div>
                            <p class="card-text">
                                I had a couple of months of experience trading
                                without consistent
                                results. After taking this
                                course I'm pretty confident that I'll be a
                                better trader and know better when to enter a
                                trade, how to put my stop
                                loss and take profit, how many lots to trade and
                                much more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="reviews" role="tabpanel">
                    <div class="mt-3 container">
                        <div class="card-body h-auto">
                            <h3 class="mb-5">Student feedback</h3>
                            <div class="row flex align-items-center">
                                <div class="col-md-2 text-center">
                                    <div class="text-primary font-weight-bold" style="font-size: 80px">{{this.course.RateTB}}</div>
                                    <div class="mb-1">
                                        <span class="stars" data-rating="{{this.course.RateTB}}" data-num-stars="5" ></span>
                                    </div>
                                    <p class="font-weight-bold text-primary" style="letter-spacing: -0.8px">Course Rating</p>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="progress rounded-0" style="margin-top: 5px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{this.starRatingList.fiveStarRatePer}}" aria-valuemin="0" aria-valuemax="100">{{this.starRatingList.fiveStarRatePer}}%</div>
                                            </div>
                                        </div>
                                        <span class="stars col-md-4" data-rating="5" data-num-stars="5" ></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="progress rounded-0" style="margin-top: 5px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{this.starRatingList.fourStarRatePer}}" aria-valuemin="0" aria-valuemax="100">{{this.starRatingList.fourStarRatePer}}%</div>
                                            </div>
                                        </div>
                                        <span class="stars col-md-4" data-rating="4" data-num-stars="5" ></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="progress rounded-0" style="margin-top: 5px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{this.starRatingList.threeStarRatePer}}" aria-valuemin="0" aria-valuemax="100">{{this.starRatingList.threeStarRatePer}}%</div>
                                            </div>
                                        </div>
                                        <span class="stars col-md-4" data-rating="3" data-num-stars="5" ></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="progress rounded-0" style="margin-top: 5px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{this.starRatingList.twoStarRatePer}}" aria-valuemin="0" aria-valuemax="100">{{this.starRatingList.twoStarRatePer}}%</div>
                                            </div>
                                        </div>
                                        <span class="stars col-md-4" data-rating="2" data-num-stars="5" ></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="progress rounded-0" style="margin-top: 5px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{this.starRatingList.oneStarRatePer}}" aria-valuemin="0" aria-valuemax="100">{{this.starRatingList.oneStarRatePer}}%</div>
                                            </div>
                                        </div>
                                        <span class="stars col-md-4" data-rating="1" data-num-stars="5" ></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body h-auto">
                            <div class="w-100">
                                <div class="row" id="review-list">
                                    {{#each this.studentReviewList}}
                                        <div class="col-md-6 mb-3 mw-100 course-review">
                                            <div class="card card--feedback h-100">
                                                <div class="card-body h-auto">
                                                    <div class="card__top">
                                                        <div class="card__avatar">
                                                            <img src="/public/img/team-1.jpg" alt="student 1">
                                                        </div>
                                                        <div>
                                                            <p class="card__name">{{Name}}</p>
                                                            <div class="card__stars">
                                                                <span class="stars" data-rating="{{Rate}}" data-num-stars="5" ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="card-text">{{Comment}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-primary load-more" style="margin-left: 16px;">Load More</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3" id="courseDiv">
            <div class="w-auto">
                <div class="d-flex justify-content-between card-header">
                    <h5 class="card-text text-primary">
                        Course Content
                    </h5>
                    <h5 class="card-text" id="close-icon">
                        &#10005;
                    </h5>
                </div>
                <div class="h-auto">
                    {{#if this.isVideoListEmpty}}

                    {{else}}
                        <div id="accordion">
                            {{#each this.courseVideoList}}
                                <div class="card rounded-0 list-course">
                                    <div class="card-header" style="cursor: pointer">
                                        <h5 class="mb-0">
                                            <div href="#collapse{{STT}}" class="text-primary" data-toggle="collapse" data-parent="#accordion">
                                                <i class="fa fa-angle-down mr-3"></i>
                                                Video {{STT}}
                                            </div>
                                        </h5>
                                    </div>
                                    <div id="collapse{{STT}}" class="collapse">
                                        <div class="card-body h-auto">
                                            <a href="{{Link}}" class="video-btn" target="myFrame">
                                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                <span>video</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <button type="button" class="btn btn-outline-primary more-section w-100 rounded-0 d-none">More-section</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SIDEBAR MINI -->
<div class="sidebarMini">
    <button class="sidebarMini__button">
        <i class="fa fa-arrow-left" aria-hidden="true" style="margin-left: 2px"></i>
        <span class="sidebarMini__content">
            Course content
        </span>
    </button>
</div>
{{#if this.checkStudentReview}}
    <div class="modal-review">
        <div class="modal-review-content">
            <div class="close-review-button">&#10005;</div>
            <form method="post" action="">
                <div class="container-review">
                    <div class="review-title text-center">
                        <h2 class="font-weight-bold">How would you rate this course?</h2>
                        <p class="font-weight-bold">Select Rating</p>
                    </div>
                    <div class="post">
                        <div class="text">Thanks for rating us!</div>
                        <div class="btn-review">
                            <button class="btn-review-back" type="button">Back</button>
                            <button class="btn-submit-save" type="submit" name="submitBtn" value="save">Save and exit</button>
                        </div>
                    </div>
                    <div class="star-widget">
                        <input type="radio" name="Rate" value="5" id="rate-5">
                        <label for="rate-5" class="far fa-star" style="margin-right: 120px"></label>
                        <input type="radio" name="Rate" value="4" id="rate-4">
                        <label for="rate-4" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="3" id="rate-3">
                        <label for="rate-3" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="2" id="rate-2">
                        <label for="rate-2" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="1" id="rate-1">
                        <label for="rate-1" class="far fa-star" style="margin-left: 120px"></label>
                        <div class="des-input">
                            <header></header>
                            <div class="textarea">
                                <textarea cols="64" rows="5" name="Comment" placeholder="Tell us about your own personal experience taking this course. Was it a good match for you?"></textarea>
                            </div>
                            <div class="btn-review">
                                <button class="btn-review-next" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="modal-review">
        <div class="modal-review-content">
            <div class="close-review-button">&#10005;</div>
            <div class="container-review has-reviewed">
                <div class="review-title">
                    <h2 class="font-weight-bold mb-3">Your Review</h2>
                    <div class="mb-2">
                        <span class="stars" data-rating="{{this.userRating.Rate}}" data-num-stars="5" ></span>
                    </div>
                    <p>{{this.userRating.Comment}}</p>
                </div>
                <div class="btn-has-reviewed">
                    <button class="btn-review-delete" type="button">Delete</button>
                    <button class="btn-review-edit" type="button">Edit Review</button>
                </div>
            </div>
            <form method="post" action="" class="edit-review">
                <div class="container-review">
                    <div class="edit-review-title text-center">
                        <h2 class="font-weight-bold">How would you rate this course?</h2>
                        <p class="font-weight-bold">Select Rating</p>
                    </div>
                    <div class="post">
                        <div class="text">Thanks for rating us!</div>
                        <div class="btn-review">
                            <button class="btn-review-back" type="button">Back</button>
                            <button class="btn-submit-save" type="submit" name="submitBtn" value="edit">Save and exit</button>
                        </div>
                    </div>
                    <div class="star-widget">
                        <input type="radio" name="Rate" value="5" id="rate-5">
                        <label for="rate-5" class="far fa-star" style="margin-right: 120px"></label>
                        <input type="radio" name="Rate" value="4" id="rate-4">
                        <label for="rate-4" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="3" id="rate-3">
                        <label for="rate-3" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="2" id="rate-2">
                        <label for="rate-2" class="far fa-star"></label>
                        <input type="radio" name="Rate" value="1" id="rate-1">
                        <label for="rate-1" class="far fa-star" style="margin-left: 120px"></label>
                        <div class="des-input">
                            <header></header>
                            <div class="textarea">
                                <textarea cols="64" rows="5" name="Comment" placeholder="Tell us about your own personal experience taking this course. Was it a good match for you?"></textarea>
                            </div>
                            <div class="btn-review">
                                <button class="btn-review-next" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" action="" class="delete-review">
                <div class="container-review">
                    <div class="delete-review-title text-center">
                        <h2 class="font-weight-bold">Delete your review?</h2>
                        <p class="font-weight-bold">Are you sure you want to delete your review?</p>
                    </div>
                    <div class="btn-review " style="margin-right: 20px">
                        <button class="btn-review-cancel" type="button">Cancel</button>
                        <button class="btn-submit-delete" type="submit" name="submitBtn" value="delete">Yes, Delete My Review</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{{/if}}




