{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script>
    
</script>
{{/section}}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">
                                                <h1>Dashboard</h1>
                                            </h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <!-- Account Count start -->
                            <div class="col-xl-4 col-md-12">
                                <div class="card prod-p-card bg-c-red">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total User</h6>
												<h3 class="m-b-0 text-white">{{numofAcc}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-users text-c-red f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card prod-p-card bg-c-blue">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total Teacher</h6>
												<h3 class="m-b-0 text-white">{{numofTeacher}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-chalkboard-teacher text-c-blue f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-primary m-r-10">+8%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card prod-p-card bg-c-green">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total Student</h6>
												<h3 class="m-b-0 text-white">{{numofStudent}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-user-graduate text-c-green f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-success m-r-10">+24%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <!-- Account Count end -->
                            <!-- Course Count start -->
                            <div class="col-xl-4 col-md-12">
                                <div class="card prod-p-card bg-c-purple">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total Category</h6>
												<h3 class="m-b-0 text-white">{{numofCate}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-list text-c-purple f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-purple m-r-10">+0%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card prod-p-card bg-c-yellow">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total Course</h6>
												<h3 class="m-b-0 text-white">{{numofCourse}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-book text-c-yellow f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-warning m-r-10">+13%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card prod-p-card bg-c-info">
                                    <div class="card-body">
										<div class="row align-items-center m-b-25">
											<div class="col">
												<h6 class="m-b-5 text-white h3">Total Video</h6>
												<h3 class="m-b-0 text-white">{{numofVideo}}</h3>
											</div>
											<div class="col-auto">
												<i class="fas fa-play text-c-info f-18"></i>
											</div>
										</div>
										<p class="m-b-0 text-white"><span class="label label-info m-r-10">+32%</span>From Previous Month</p>
									</div>
                                </div>
                            </div>
                            <!-- Course Count end -->
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->