{{#section 'css'}}
    <style>
        /*CSS FOR INPUT COURSE*/
        .btn_round {
            width: 35px;
            height: 35px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 35px;
            margin-left: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .btn_round:hover {
            color: #fff;
            background: #6b4acc;
            border: 1px solid #6b4acc;
        }

        .btn_content_outer {
            display: inline-block;
            width: 85%;
        }
        .close_c_btn {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 0px;
            line-height: 30px;
            border-radius: 50%;
            background: #ededed;
            border: 1px solid #ccc;
            color: #ff5c5c;
            text-align: center;
            cursor: pointer;
        }

        .add_icon {
            padding: 10px;
            border: 1px dashed #aaa;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
        }
        .add_group_btn {
            display: flex;
        }
        .add_group_btn i {
            font-size: 32px;
            display: inline-block;
            margin-right: 10px;
        }

        .add_group_btn span {
            margin-top: 8px;
        }
        .add_group_btn,
        .clone_sub_task {
            cursor: pointer;
        }

        .sub_task_append_area .custom_square {
            cursor: move;
        }

        .del_btn_d {
            display: inline-block;
            position: absolute;
            right: 20px;
            border: 2px solid #ccc;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
    <style>
        .ques {
            color: darkslateblue;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 560px;
            height: 30px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #f2f2f2;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            z-index: 2;
            content: "";
            height: 32px;
            width: 32px;
            left: 0px;
            bottom: 0px;
            background-color: darkslategrey;
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
            -webkit-transition: .4s;
            transition: all 0.4s ease-in-out;
        }
        .slider:after {
            position: absolute;
            left: 0;
            z-index: 1;
            content: "Completed";
            font-size: 15px;
            text-align: left !important;
            line-height: 30px;
            padding-left: 0;
            width: 600px;
            color: #fff;
            height: 100px;
            border-radius: 100px;
            background-color: #ff6418;
            -webkit-transform: translateX(-460px);
            -ms-transform: translateX(-460px);
            transform: translateX(-460px);
            transition: all 0.4s ease-in-out;
        }

        input:checked + .slider:after {
            -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
            transform: translateX(60px);
            /*width: 235px;*/
            padding-left: 50px;
        }

        input:checked + .slider:before {
            background-color: darkslategrey;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(530px);
            -ms-transform: translateX(530px);
            transform: translateX(530px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 100px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .absolute-no {
            position: absolute;
            left: 0;
            color: darkslategrey;
            text-align: right !important;
            font-size: 15px;
            width: calc(100% - 25px);
            height: 30px;
            line-height: 30px;
            cursor: pointer;
        }

        .status {
            display: flex;
            justify-content: space-between;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script>
        ///======Clone method
        $(document).ready(function () {
            $("body").on("click", ".add_node_btn_frm_field", function (e) {
                var index = $(e.target).closest(".form_field_outer").find(".form_field_outer_row").length + 1;
                var cloned_el = $(e.target).closest(".form_field_outer_row").clone(true);

                $(e.target).closest(".form_field_outer").last().append(cloned_el).find(".remove_node_btn_frm_field:not(:first)").prop("disabled", false);

                $(e.target).closest(".form_field_outer").find(".remove_node_btn_frm_field").first().prop("disabled", false);
                //change id
                $(e.target)
                        .closest(".form_field_outer")
                        .find(".form_field_outer_row")
                        .last()
                        .find("input[type='text']")
                        .attr("id", "topic_no_" + index);

                $(e.target)
                        .closest(".form_field_outer")
                        .find(".form_field_outer_row")
                        .last()
                        .find("select")
                        .attr("id", "url_no_" + index);

                console.log(cloned_el);
                //count++;
            });
        });

        $(document).ready(function(){ $("body").on("click",".add_new_frm_field_btn", function (){ console.log("clicked"); var index = $(".form_field_outer").find(".form_field_outer_row").length + 1; $(".form_field_outer").append(`
            <div class="row form_field_outer_row">
              <div class="form-group col-md-5">
                <input type="text" class="form-control w_90" name="topic_no[]" id="topic_no_${index}" placeholder="Enter topic" />
              </div>
              <div class="form-group col-md-2">
                <input type="text" class="form-control w_90" name="file_no[]" id="file_no_${index}" placeholder="Enter file name" />
              </div>
              <div class="form-group col-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">URL:</span>
                        </div>
                            <input name= "url_no[]" type="text" class="form-control" id="url_no_${index}" aria-describedby="basic-addon3">
                    </div>
              </div>
              <div class="form-group col-md-2 add_del_btn_outer">
                <button class="btn_round add_node_btn_frm_field" title="Copy or clone this row" type="button">
                  <i class="fas fa-copy"></i>
                </button>

                <button class="btn_round remove_node_btn_frm_field" type="button">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
        `); $(".form_field_outer").find(".remove_node_btn_frm_field:not(:first)").prop("disabled", false); $(".form_field_outer").find(".remove_node_btn_frm_field").first().prop("disabled", true); }); });

        $(document).ready(function () {
            //===== delete the form fieed row
            $("body").on("click", ".remove_node_btn_frm_field", function () {
                $(this).closest(".form_field_outer_row").remove();
                console.log("success");
            });
        });

    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
                .create(document.querySelector('#MoTaChiTiet'))
                .catch(error => {
                    console.error(error)
                });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#txtDateStart').datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            mask: true
        });

        $('#txtDateEnd').datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            mask: true
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
    <script>
        $('#Image').fileinput({
            dropZoneEnabled: false,
            maxFileCount: 5,
            theme: 'fa4',
            allowedFileExtensions: ['jpg', 'png', 'gif'],
        });
        $('#Video').fileinput({
            dropZoneEnabled: false,
            maxFileCount: 5,
            theme: 'fa4',
            allowedFileExtensions: ['mp4', 'mov', 'avi', 'flv', 'wmv'],
        });
    </script>
{{/section}}


<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Teachers</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" href="/teacher">Teachers</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" href="/teacher/input">Post new Course</a></p>
            </div>
        </div>
    </div>
</div>

<form method="post" id="frmInputCourse" class="container-fluid py-10" enctype="multipart/form-data">
    <h1>Course</h1>
    <div class="card container-fluid py-5 px-5">
<!--        Status-->
        <div class="status">
            <label>Status</label>
            <label class="switch">
                {{#if this.checked}}
                    <input type="checkbox" name="check" id="txtCheck" checked>
                {{else}}
                    <input type="checkbox" name="check" id="txtCheck">
                {{/if}}
                <span class="slider round"></span>
                <span class="absolute-no">Incomplete</span>
            </label>
        </div>
<!--        NameCourse-->
        <div class="form-group">
            <label for="txtNameCourse">Name course</label>
            <input name="TenKhoaHoc" type="text" class="form-control" id="txtNameCourse" value="{{this.info.TenKhoaHoc}}" autofocus>
        </div>
<!--        Field-->
        <div class="form-group">
            <label for="txtFieldCourse">Field course</label>
            <select name="MaLinhVuc" id="txtFieldCourse" class="form-control">
                {{#each this.linhVuc}}
                    {{#if isChoose}}
                        <option value="{{MaLinhVuc}}" selected>{{TenLinhVuc}}</option>
                    {{else}}
                        <option value="{{MaLinhVuc}}">{{TenLinhVuc}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
<!--        NgonNgu-->
        <div class="form-group">
            <label for="txtNgonNgu">Language</label>
            <select name="NgonNgu" id="txtFieldCourse" class="form-control">
                {{#each this.ngonNgu}}
                    {{#if isChoose}}
                        <option value="{{MaNgonNgu}}" selected>{{NgonNgu}}</option>
                    {{else}}
                        <option value="{{MaNgonNgu}}">{{NgonNgu}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
<!--        Image of course-->
        <div class="form-group">
            <label for="Image">Photo</label>
            <input type="file" multiple id="Image" name="Image">
        </div>
<!--        Start Day-->
        <div class="form-group">
            <label for="example">Start Date</label>
            <i class="fas fa-calendar input-prefix"></i>
            <input placeholder="Select date" type="text" id="txtDateStart" name="NgayBD" class="form-control" value="{{#convertDate this.info.NgayBD}} {{/convertDate}}">
        </div>
<!--        End Day-->
        <div class="form-group">
            <label for="example">End Date</label>
            <i class="fas fa-calendar input-prefix"></i>
            <input placeholder="Select date" type="text" id="txtDateEnd" name="NgayKT" class="form-control" value="{{#convertDate this.info.NgayKT}} {{/convertDate}}">
        </div>
<!--        Short Description-->
        <div class="form-group">
            <label>Short Description</label>
            <textarea name="MoTaNgan" class="form-control" id="exampleFormControlTextarea1" rows="2">{{this.info.MoTaNgan}}</textarea>
        </div>
<!--        Description-->
        <div class="form-group">
            <label>Description</label>
            <textarea id="MoTaChiTiet" name="description" placeholder="Your description">
                {{this.info.MoTaChiTiet}}
            </textarea>
        </div>
<!--        Price-->
        <div class="form-group">
            <label for="txtPrice">Fee  </label>
            <div class="input-group mb-2">
                <input name="Gia" type="number" class="form-control" id="txtPrice" value="{{this.info.Gia}}">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
<!--        Discount-->
        <div class="form-group">
            <label for="txtDiscount">Discount</label>
            <div class="input-group mb-2">
                <input name="KhuyenMai" type="number" class="form-control" id="txtDiscount" value="{{this.info.KhuyenMai}}">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
<!--        Topic-->
        <div class="form-group container-fluid">
            <div class="row">
                <div class="col-md-12 form_sec_outer_task border">
                    <div class="row">
                        <div class="col-md-12 bg-light p-2 mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="frm_section_n">Course content</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>Topic</label>
                        </div>
                        <div class="col-md-2">
                            <label> File Name</label>
                        </div>
                        <div class="col-md-3">
                            <label> Link</label>
                        </div>
                    </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 form_field_outer p-0">
                    {{#each this.video}}
                        <div class="row form_field_outer_row">
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control w_90" name="topic_no[]" id="topic_no_{{index}}" placeholder="Enter topic" value="{{this.TenVideo}}" />
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control w_90" name="file_no[]" id="file_no_{{index}}" placeholder="Enter file name" value="{{this.File}}" />
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">URL:</span>
                                    </div>
                                    <input name= "url_no[]" type="url" class="form-control" id="url_no_{{index}}" aria-describedby="basic-addon3" value="{{this.Link}}">
                                </div>
                            </div>
                            <div class="form-group col-md-2 add_del_btn_outer">
                                <button class="btn_round add_node_btn_frm_field" title="Copy this line" type="button">
                                    <i class="fas fa-copy"></i>
                                </button>

                                <button class="btn_round remove_node_btn_frm_field" title="Delete this line" type="button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    {{/each}}
                        <div class="row form_field_outer_row">
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control w_90" name="topic_no[]" id="topic_no_1" placeholder="Enter topic" />
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control w_90" name="file_no[]" id="file_no_1" placeholder="Enter file name" />
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">URL:</span>
                                    </div>
                                    <input name= "url_no[]" type="url" class="form-control" id="url_no_1" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <div class="form-group col-md-2 add_del_btn_outer">
                                <button class="btn_round add_node_btn_frm_field" title="Copy this line" type="button">
                                    <i class="fas fa-copy"></i>
                                </button>

                                <button class="btn_round remove_node_btn_frm_field" title="Delete this line" type="button" disabled>
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row ml-0 bg-light mt-3 border py-3">
                    <div class="col-md-12">
                        <button class="btn btn-outline-lite py-0 add_new_frm_field_btn" type="button"><i class="fas fa-plus add_icon"></i> Add topic </button>
                    </div>
                </div>
            </div>
        </div>
        {{#if notIsKhoaHocMoi}}
        <div class="form-group">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add Video
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload Video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="txtNameCourseNew">Name course</label>
                                <input form="frmVideo" name="TenKhoaHocMoi" type="text" class="form-control" id="txtNameCourseNew" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="Video">Video</label>
                                <input type="file" multiple id="Video" name="Video" form="frmVideo">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button name="btnVideo" type="submit" class="btn btn-primary" value="upload" form="frmVideo" form="frmInputCourse">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
<!--        Button Save-->
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>

<form method="post" id="frmVideo" class="container-fluid py-10" enctype="multipart/form-data" action="/teacher/getvideo/{{this.info.MaKhoaHoc}}">
</form>
