<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius:0; border:none">
        <div class="modal-header" style="border-radius:0; background-color:#F80040">
        <h4 class="modal-title" style="color: white;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Fail Registeration</h4>    
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <p id="err_msg" style="font-size:17px"></p>
        </div>
        <div class="modal-footer" style="border: none;">
        <button type="button" style="border: none;" class="btn btn-primary btnChange" data-dismiss="modal">
            Try Again
        </button>
        </div>
    </div>
    </div>
</div>  

{{#section 'css'}}
    <style>
        .card-body {
            margin: 0;
            padding-top: 40px;
            color: #2e323c;
            background: #f5f6fa;
            position: relative;
            height: 100%;
        }
        .account-settings .user-profile {
            margin: 0 0 1rem 0;
            padding-bottom: 1rem;
            text-align: center;
        }
        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }
        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }
        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }
        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }
        .account-settings .about {
            margin: 2rem 0 0 0;
            text-align: center;
        }
        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }
        .account-settings .about p {
            font-size: 0.825rem;
        }
        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }
        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }
        
        #frmInputCourse {
            background-image: url(/public/img/bg_account.png);
            background-size: 100% 100%;
        }

        @media only screen and (max-width: 991.5px){
            #bg1 {
                margin-bottom:0 !important; 
            }

            #bg2 {
                margin-top:0 !important; 
            }

            #frm1 {
                border-bottom: 1px solid #9fa8b9 !important;
                border-radius: 0;
            }
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}

{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#txtDOB').datetimepicker({
            timepicker: false,
            format: 'Y/m/d',
            mask: true
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
    <script>
        $('#Avatar').fileinput({
            dropZoneEnabled: false,
            maxFileCount: 5,
            theme: 'fa4',
            allowedFileExtensions: ['jpg', 'png', 'gif'],
        });
    </script>
    <script type="text/javascript">
        var path = (window.URL || window.webkitURL).createObjectURL(file);
        console.log('path', path);
    </script>
{{/section}}

<section class="pcoded-main-container">
<form method="post" id="frmInputCourse" class="container-fluid py-10" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 my-4" id="bg1">
                <div class="card h-100" id="frm1">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {{#if this.info.Avatar}}
                                        {{#isStudent this.info.LoaiTaiKhoan}}
                                            <img src="/public/img/students/{{this.info.Avatar}}" alt="">
                                        {{else}}
                                            {{#isAdmin this.info.LoaiTaiKhoan}}
                                                <img src="/public/img/admins/{{this.info.Avatar}}" alt="">
                                            {{else}}
                                                <img src="/public/img/teachers/{{this.info.Avatar}}" alt="">
                                            {{/isAdmin}}
                                        {{/isStudent}}
                                    {{else}}
                                            <img src="/public/img/emptyAva.png" alt="">
                                    {{/if}}
                                </div>
                                <h5 class="user-name">{{this.info.Name}}</h5>
                                <h6 class="user-email">{{this.info.Email}}</h6>
                            </div>
                            {{#isTeacher this.info.LoaiTaiKhoan}}
                                <div class="about">
                                <h5>About</h5>
                                <p>{{this.info.MoTa}}</p>
                            </div>
                            {{/isTeacher}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 my-4" id="bg2">
                <div class="card h-100 w-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="txtName">Full Name</label>
                                    <input name="Name" type="text" class="form-control" id="txtName" value="{{this.info.Name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="example">Username</label>
                                    <input type="" id="txtUsername" name="Username" class="form-control" value="{{this.info.Username}}" readonly>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="example">Day of birth</label>
                                    <i class="fas fa-calendar input-prefix"></i>
                                    <input placeholder="Select date" type="" id="txtDOB" name="DOB" class="form-control" value="{{#convertDate this.info.DOB}} {{/convertDate}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="txtEmail">Email</label>
                                    <input name="Email" type="email" class="form-control" id="txtEmail" value="{{this.info.Email}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="txtPhone">Phone</label>
                                    <input name="SDT" type="text" class="form-control" id="txtPhone" value="{{this.info.SDT}}" maxlength="11">
                                </div>
                            </div>
                            {{#isTeacher this.info.LoaiTaiKhoan}}
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="txtWebsite">Website URL</label>
                                    <input name="Website" type="url" class="form-control" id="txtWebsite" placeholder="Website url">
                                </div>
                            </div>
                            {{/isTeacher}}
                            
                            {{#isTeacher this.info.LoaiTaiKhoan}}
                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="Mota" class="form-control" id="txtMota" rows="4" >{{this.info.MoTa}}</textarea>
                                </div>
                            </div>
                            {{/isTeacher}}
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                            </div>
                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input name="DiaChi" type="text" class="form-control" id="txtDiaChi" value="{{this.info.DiaChi}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Choose Avatar</h6>
                            </div>
                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    {{!-- <label for="Avatar">Choose avatar</label> --}}
                                    <input type="file" multiple id="Avatar" name="Avatar">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-center mt-3">
                                    {{#isStudent this.info.LoaiTaiKhoan}}
                                    <button type="button" class="btn btn-secondary" onclick="location.href='/admin/students'">Cancel</button>
                                    {{else}}
                                    <button type="button" class="btn btn-secondary" onclick="location.href='/admin/teachers'">Cancel</button>
                                    {{/isStudent}}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>