<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                        <div class="col-xl-12 ml-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Teacher Table</h5>
                                    <a name="" id="" class="btn btn-outline-primary float-right"
                                            href="/admin/addTeacher" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add more</a>
                                    <span class="d-block m-t-5">Danh sach cac <code>Giao vien</code> cua he thong
                                       </span>
                                </div>
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Ma Giao Vien</th>
                                                    <th>Ma tai khoan</th>
                                                    <th>Ten</th>
                                                    <th>Username</th>
                                                    <th>email</th>
                                                    <th>SLKH</th>
                                                    <th colspan="3">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 {{#each this.teacher}}
                                                <form method="post" action="">
                                                <tr>
                                                    <td>{{MaGiaoVien}}</td>
                                                    <td>{{MaTaiKhoan}}</td>
                                                    <td>{{Name}}</td>
                                                    <td>{{Username}}</td>
                                                    <td>{{Email}}</td>
                                                    <td>{{SLKhoaHoc}}</td>
                                                    <td colspan="3">
                                                        <a href="/admin/viewTeacher?id={{MaGiaoVien}}" class="view fa-2x" title="View" data-toggle="tooltip"><i class="fa fa-eye fa-sm" aria-hidden="true"></i></a>
                                                        <a href="/admin/editTeacher?id={{MaGiaoVien}}" class="view fa-2x" title="View" data-toggle="tooltip"><i class="fas fa-pencil-alt ml-2 " aria-hidden="true"></i></i></a>
                                                        <a name="id" id="" class="btn btn-outline-danger btn-sm" href="/admin/delTeacher?id={{MaTaiKhoan}}" role="button"><i class="material-icons"></i></a>
                                                    </td>
                                                </tr>
                                                </form>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>