<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
            <h1>Our Popular Courses</h1>
        </div>
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        {{else}}
            <div class="row">
                {{#each this.courses}}
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="/public/img/courses/{{value.MaKhoaHoc}}.jpg" alt="">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0">
                                        <i class="fa fa-users text-primary mr-2"></i>
                                        {{value.LuotXem}} Students
                                    </small>
                                    {{#if isFieldType}}
                                        <small class="m-0">
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                            Web
                                        </small>
                                    {{else}}
                                        <small class="m-0">
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            Mobile
                                        </small>
                                    {{/if}}
                                    <small class="m-0">
                                        <i class="far fa-clock text-primary mr-2"></i>
                                        {{value.SoLuongVideo}}
                                    </small>
                                </div>
                                <h5 class="card-title text-log" href="">{{value.TenKhoaHoc}}</h5>

                                <p class="card-text mb-1 mt-1">{{value.GiaoVien}}</p>
                                <div class="card__stars mb-1">
                                    <span>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star-half text-primary"></i>
                                    </span>
                                    <span class="card__rate">{{value.RateTB}}</span>
                                    <span class="card__totaln text-right">({{value.SLHocSinhDanhGia}})</span>
                                </div>
                            </div>
                            <div class="border-top card-footer pt-4">
                                <div class="card__price">
                                    <span style="text-decoration: line-through;">${{format_number value.Gia}}</span>
                                    <span>${{format_number value.KhuyenMai}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    {{#if this.previousPageNumber.isPreviousPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.previousPageNumber.value}}">Previous</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">Previous</a>
                        </li>
                    {{/if}}
                    </li>
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li class="page-item active">
                                <a class="page-link" href="javascript:;">{{value}}</a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                    {{#if this.nextPageNumber.isNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.nextPageNumber.value}}">Next</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">Next</a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        {{/if}}
    </div>
</div>
