<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
            <h1>Explore Top Subjects</h1>
        </div>
        <div class="row d-flex justify-content-lg-center">
            {{#each this.fields}}
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="/public/img/cat-{{MaLinhVuc}}.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="/categories/{{MaLinhVuc}}">
                            <h4 class="text-white font-weight-medium">{{TenLinhVuc}}</h4>
                            <span>{{SLKhoaHoc}} Courses</span>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Category End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
            <h1>Our Popular Courses</h1>
        </div>
        {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        {{else}}
            <div class="row">
                {{#each this.courses}}
                    <div class="col-lg-4 mb-3">
                        <div class="card h-100">
                            <img class="card-img-top" src="/public/img/courses/{{Image}}" alt="">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-2">
                                    <small class="m-0">
                                        <i class="fa fa-users text-primary mr-2"></i>
                                        {{LuotXem}} Students
                                    </small>
                                    <small class="m-0">
                                        <i class="far fa-play-circle text-primary mr-2"></i>
                                        {{SoLuongVideo}}
                                    </small>
                                </div>
                                <a class="card-title text-log h5" href="/course/detail?id={{MaKhoaHoc}}">{{TenKhoaHoc}}</a>
                                {{#if isFieldType}}
                                    <p class="card-text">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        {{TenLinhVuc}}
                                    </p>
                                {{else}}
                                    <p class="card-text">
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                        {{TenLinhVuc}}
                                    </p>
                                {{/if}}
                                <p class="card-text">{{Name}}</p>
                                <div class="d-flex align-content-center">
                                    <span class="stars" data-rating="{{RateTB}}" data-num-stars="5" ></span>
                                    <h5 class="text-primary font-weight-bolder ml-2">{{RateTB}}</h5>
                                    <span class="">({{SLHocSinhDanhGia}} ratings)</span>
                                </div>
                            </div>
                            <div class="border-top card-footer">
                                <div class="card__price">
                                    {{#if isNoDiscount}}
                                        <span>${{format_number Gia}}</span>
                                    {{else}}
                                        <span style="text-decoration: line-through;">${{format_number Gia}}</span>
                                        <span>${{format_number finalPrice}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <nav>
                <ul class="pagination justify-content-center">
                    {{#if this.previousPageNumber.isPreviousPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.previousPageNumber.value}}">Previous</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">Previous</a>
                        </li>
                    {{/if}}
                    </li>
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li class="page-item active">
                                <a class="page-link" href="javascript:;">{{value}}</a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                    {{#if this.nextPageNumber.isNextPage}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.nextPageNumber.value}}">Next</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;">Next</a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        {{/if}}
    </div>
</div>
